<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!--CSSのコード-->
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f0f0;
          color: #333;
        }
    
        .button:hover {
          background-color: #e0e0e0;
        }
      </style>
      <!--ここまでCSSのコード-->
</head>
<body>
    <h1>タスクの追加</h1>
    <hr>
    <form method="POST">
        {{ form.customer_id.label }}{{ form.customer_id(size=20, value=customer_id) }}<br>
        {{ form.sir.label }}{{ form.sir(size=20) }}<br>
        {{ form.task_content.label }}{{ form.task_content(style="height:50px; width:150px") }}<br>
        {{ form.deadline.label }}{{ form.deadline() }}<br>
        {{ form.pic.label }}{{ form.pic() }}<br>
        {{ form.progress.label }}{{ form.progress() }}<br>
        {{ form.submit() }}
    </form>
    <p><a href="{{ url_for('customer_list_page') }}" class = button>顧客一覧</a></p>
    <p><a href="{{ url_for('customer_page', id=customer_id) }}" class = button>顧客情報</a></p>
    <p><a href="{{ url_for('task_view_page') }}" class = button>タスク一覧</a></p>
</body>
</html>