<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>add_customer</title>

    <!--CSSのコード-->
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f0f0;
          color: #333;
        }
    
        .button:hover {
          background-color: #e0e0e0;
        }
      </style>
      <!--ここまでCSSのコード-->
</head>
<body>
    <h1>顧客追加ページ</h1>
    <hr>
    <form method="POST">
        {{ form.company.label }}{{ form.company(size=20) }}<br>
        {{ form.tel.label }}{{ form.tel(size=20) }}<br>
        {{ form.email.label }}{{ form.email(size=20) }}<br>
        {{ form.confirm_email.label }}{{ form.confirm_email(size=20) }}<br>
        {{ form.submit() }}
    <p><a href="{{ url_for('customer_list_page') }}" class = button>顧客一覧ページへ戻る</a></p>
</body>
</html>