<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>add_customer</title>
</head>
<body>
    <h1>顧客追加ページ</h1>
    <hr>
    <form method="POST">
        {{ form.name.label }}{{ form.name(size=20) }}<br>
        {{ form.company.label }}{{ form.company(size=20) }}<br>
        {{ form.email.label }}{{ form.email(size=20) }}<br>
        {{ form.confirm_email.label }}{{ form.confirm_email(size=20) }}<br>
        {{ form.submit() }}
    <p><a href="{{ url_for('customer_list_page') }}">顧客一覧ページへ戻る</a></p>
</body>
</html>