<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>add_customer</title>

    <!--CSSのコード-->
	<!-- Normalize.css の読み込み -->
    <link rel="stylesheet" href="path/to/normalize.css">
	<!-- 他のスタイルシートの読み込み -->
    <link rel="stylesheet" href="static/css/style.css">
    <!--ここまでCSSのコード-->

</head>
<body>
	<header class="page-header wrapper">
		<h1><a href="{{ url_for('top_page') }}"><img class="logo" src="static\image\ontology_logo.png" alt="ontology"></a></h1>
		<nav>
			<ul class="main-nav">
				<li><a href="{{ url_for('top_page') }}">Top</a></li>
				<li><a href="{{ url_for('customer_list_page') }}" >顧客一覧</a></li>
				<li><a href="{{ url_for('task_view_page') }}">タスク一覧</a></li>
			</ul>
		</nav>
	</header>
	<div class="page-title">
		<h1>顧客の登録</h1>
	</div>
    <hr>

	<div class="add-customer-form">
		<form method="POST" onsubmit="return confirmSubmit()">
			{{ form.company.label }}{{ form.company(size=20) }}<br>
			{{ form.address.label }}{{ form.address(size=30) }}<br>
			{{ form.tel.label }}{{ form.tel(size=20) }}<br>
			{{ form.email.label }}{{ form.email(size=20) }}<br>
			{{ form.confirm_email.label }}{{ form.confirm_email(size=20) }}<br>
			{{ form.contract.label }}{{ form.contract() }}<br>
			{{ form.submit() }}
	</div>
    <hr>
    <p><a href="{{ url_for('customer_list_page') }}" class = button>顧客一覧</a></p> 
	<script>
        function confirmSubmit() {
            return confirm('本当にこの内容で顧客を登録しますか？');
        }
    </script>
</body>
</html>