<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <h1>顧客情報ページ</h1>
    <hr>
    {% for item in items %}
        {% if id==item[0] %}
            <li>顧客ID：{{ item[0] }}</li>
            <li>会社名：{{ item[1] }}</li>
            <li>電話番号：{{ item[2] }}</li>
            <li>メールアドレス：{{ item[3] }}</li>
            <li>契約状況：{{ item[4] }}</li>
        {% endif %}
    {% endfor %}
    <p><a href="{{ url_for('customer_list_page') }}">顧客一覧ページへ戻る</a></p>
    <p><a href="{{ url_for('add_task_page') }}">タスク追加ページへ移動する</a></p>
</body>
</html>