<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    {% extends "top.html"%}

    {% block content %}
        <h1>サインアップ</h1>
        <form method="POST" action="{{ url_for('register') }}" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <br>
            {{ form.submit }}
        </form>

        <p>
            既にアカウントをお持ちの場合は、
            <a href="{{ url_for('login') }}">こちら</a>
            からログインしてください。
        </p>
    {% endblock %}
</body>
</html>