<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>success_add_customer</title>

    <!--CSSのコード-->
	<!-- Normalize.css の読み込み -->
    <link rel="stylesheet" href="path/to/normalize.css">
	<!-- 他のスタイルシートの読み込み -->
    <link rel="stylesheet" href="static/css/style.css">
    <!--ここまでCSSのコード-->

</head>
<body>
	<header class="page-header wrapper">
		<h1><a href="{{ url_for('top_page') }}"><img class="logo" src="static\image\ontology_logo.png" alt="ontology"></a></h1>
		<nav>
			<ul class="main-nav">
				<li><a href="{{ url_for('top_page') }}">Top</a></li>
				<li><a href="{{ url_for('customer_list_page') }}" >顧客一覧</a></li>
				<li><a href="{{ url_for('task_view_page') }}">タスク一覧</a></li>
			</ul>
		</nav>
	</header>

	<div class="page-title">
		<h1>顧客の登録が完了しました</h1>
	</div>

    <hr>
	<div class="result">
		<ul>
			<li>会社名：{{ company }}</li>
			<li>住所：{{ address }}</li>
			<li>電話番号：{{ tel }}</li>
			<li>メールアドレス：{{ email }}</li>
			<li>契約状況：{{ contract }}</li>
		</ul>
	</div>
<hr>
    <p><a href="{{ url_for('customer_list_page') }}" class = button>顧客一覧</a></p>
</body>
</html>