<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Top</title>
    <!--CSSのコード-->
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f0f0;
          color: #333;
        }
    
        .button:hover {
          background-color: #e0e0e0;
        }
      </style>
      <!--ここまでCSSのコード-->
</head>
<body>
	<header>
		<h1>ToDo APP</h1>
		<nav>
			<ul class="main-nav">
				<li><a href="top.html">Top ページ</li>
				<li><a href="customer_list.html">顧客一覧</li>
				<li><a href="task_view.html">タスク一覧</li>
			</ul>
		</nav>
	</header>
    <footer>
		<p><a href="{{ url_for('customer_list_page' )}}" class = button>顧客一覧</a></p>
		<p><a href="{{ url_for('task_view_page') }}" class = button>タスク一覧</a></p>
		<p><a href="{{ url_for('archived_customer_page') }}" class = button>解約済み顧客一覧</a></p>
		<p><a href="{{ url_for('deleted_task_page') }}" class = button>削除済みタスク一覧</a></p>
	</footer>
</body>
</html>