<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Top</title>
    
    <!--CSSのコード-->
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f0f0;
          color: #333;
        }
    
        .button:hover {
          background-color: #e0e0e0;
        }
      </style>
      <!--ここまでCSSのコード-->
</head>
<body>
    <h1>ToDo APP</h1>
    <p><a href="{{ url_for('customer_list_page' )}}" class = button>お客様一覧へ</a></p>
    <p><a href="{{ url_for('task_view_page') }}" class = button>タスク一覧ページへ</a></p>
    <p><a href="{{ url_for('archived_customer_page') }}" class = button>解約済み顧客一覧</a></p>
    <p><a href="{{ url_for('deleted_task_page') }}" class = button>削除済みのタスク一覧</a></p>
</body>
</html>