<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>顧客更新ページ</h1>
    <hr>
    <p>顧客ID : {{customer_id}}</p>
    <form method="POST">
        {% for customer in customer_update %}
            {{ form.company.label }}{{ form.company(size=20, value=customer[1]) }}<br>
            {{ form.tel.label }}{{ form.tel(size=20, value=customer[2]) }}<br>
            {{ form.email.label }}{{ form.email(size=20, value=customer[3]) }}<br>
            {{ form.confirm_email.label }}{{ form.confirm_email(size=20, value=customer[4]) }}<br>
            {{ form.submit() }}
        {% endfor %}
    </form>
    <p><a href="{{ url_for('top_page') }}" class = button>topページに戻る</a></p>
    <p><a href="{{ url_for('add_task_page') }}" class = button>タスク追加ページへ移動する</a></p>
    <p><a href="{{ url_for('task_view_page') }}" class = button>タスク一覧ページへ</a></p>
</body>
</html>