<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title></title>

    <!--CSSのコード-->
    <style>
        /*ボタンのCSS*/
        .button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f0f0;
          color: #333;
        }
    
        .button:hover {
          background-color: #e0e0e0;
        }
    </style>
    <!--ここまでCSSのコード-->
</head>
<body>
    <header>
		<h1>契約更新</h1>
		<nav>
			<ul class="main-nav">
				<li><a href="top.html">Top ページ</li>
				<li><a href="customer_list.html">顧客一覧</li>
				<li><a href="task_view.html">タスク一覧</li>
			</ul>
		</nav>
	</header>
    <hr>
    <p>顧客ID : {{customer_id}}</p>
    <form method="POST" onsubmit="return confirmSubmit()">
        {% for customer in update_customer %}
            {{ form.company.label }}{{ form.company(size=20, value=customer[1]) }}<br>
            {{ form.address.label }}{{ form.address(size=20, value=customer[2]) }}<br>
            {{ form.tel.label }}{{ form.tel(size=20, value=customer[3]) }}<br>
            {{ form.email.label }}{{ form.email(size=20, value=customer[4]) }}<br>
            {{ form.contract.label }}{{ form.contract(value=customer[6]) }}<br>
            {{ form.submit() }}
        {% endfor %}
    </form>
    <p><a href="{{ url_for('customer_list_page') }}" class="button">顧客一覧</a></p>
    <p><a href="{{ url_for('task_view_page') }}" class="button">タスク一覧</a></p>
    <p><a href="{{ url_for('top_page') }}" class="button">Top</a></p>

    <script>
        function confirmSubmit() {
            // formからきたcontract.labelの値を取得
            var contractValue = document.getElementById("contract").value;
            
            // "解約済み"の場合に確認ダイアログを表示
            if (contractValue === "解約済み") {
                return confirm('契約が解約済みです。本当に送信しますか？');
            }

            // それ以外の場合は通常通りフォームを送信
            return true;
        }
    </script>
</body>
